@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

:root {
  --color-primary: #333333;
  --color-secondary: #2f4f4f;
  --color-white: #f2f2f2;
  --border-radius: 25px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: var(--color-white);
  margin: 0px 50px;
}

h1,
h2,
h3,
h4 {
  margin-top: 35px;
  color: var(--color-primary);
}
.contains {
  width: 100%;
  display: block;
}

.subcontains {
  width: 47%;
  display: inline-block;
}
.subcontains img {
  width: 100%;
  height: 390px;
}

.form-group {
  width: 80%;
  margin: 10px 0px;
}

.shadow {
  filter: drop-shadow(2px 6px 15px 2px rgba(0, 0, 0, 0.75));
  box-shadow: 2px 6px 15px 2px rgba(0, 0, 0, 0.75);
}

input[type="text"],
input[type="number"]{
  width: 100%;
  border: 1px solid #5e5e5e;
  text-align: center;
  border-radius: var(--border-radius);
}

input[type="text"]:focus,
input[type="number"]:focus{
  border: 1px solid var(--color-secondary);
}

.btn-primary {
  border: 1px solid var(--color-secondary);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius);
  padding: 5px 15px;
  margin: 20px 2px;
}

.btn-primary:hover {
  opacity: 0.9;
}

.option{
  list-style: none;
  color: black;
}

.options-container :hover {
  background-color: #777;
  color: rgb(255, 255, 241);
}

.options-container {
  width: 27.6%;
  border: 1px solid black;
  display: none;
  border-radius: 10px;
  background-color: var(--color-white);
  position: absolute;
}

.selected{
  background: rgb(86, 86, 86);
  color: #fff ;
}

/*.datos{
  border: 1px solid  black;
  display: contents;
}*/

/* Medidas Smartphone */
@media only screen and (max-width: 576px) {
  .subcontains {
    width: 100%;
  }
  .form-group {
    text-align: center;
    width: 90%;
    margin: 10px 25px;
  }

  .options-container {
    width: 70%;
    margin: 0% 1%;
  }

  input[type="text"],
  input[type="number"]{
    height: 26px;
  }

  .btn-sm-w100{
    margin: 10px 25px;
    width: 90%;
  }

  .subcontains img {
    height: 220px;
    width: 100%;
  }

}
/* Medidas Tablets Hacer Ipad mini */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .subcontains {
    width: 100%;
  }
  .form-group {
    width: 100%;
    margin: 10px 25px;
  }

  .options-container {
    width: 70%;
    margin: 0% 1%;
  }

  input[type="text"],
  input[type="number"]{
    height: 26px;
    margin-bottom: 3px;
  }

  .btn-sm-w100{
    margin: 10px 25px;
    width: 100%;
  }

  .subcontains img {
    height: 355px;
    width: 100%;
  }

}

/* Medidas Tablets Hacer Ipad Air */
@media only screen and (min-width: 769px) and (max-width: 930px) {
  .subcontains {
    width: 100%;
  }
  .form-group {
    text-align: center;
    width: 100%;
    margin: 10px 0px;
  }

  .options-container {
    width: 70%;
    margin: 0% 1%;
  }

  input[type="text"],
  input[type="number"]{
    height: 26px;
    margin-bottom: 3px;
  }

  .btn-sm-w100{
    width: 100%;
  }

  .subcontains img {
    height: 400px;
    width: 100%;
  }

}
